#lpFooter
	position fixed
	left 0
	right 0
	bottom 0
	height 100vh
	background #00495a
	z-index -3
	background-image url('/img/footer.jpg')
	background-position right
	background-size cover
	background-repeat no-repeat


.linkList
	font-size 1rem
	font-family $fontA

	display flex
	//flex-direction column
	margin-top 1rem
	align-items flex-start
	justify-content center
	//text-shadow 5px 5px 3px #000

	a
		color #cfcfcf
		padding 0 1rem
	a:hover, a:focus
		color $accentColor





