.home
	margin-top 100vh !important
	padding-top 8rem !important
	max-width 100vw !important

.landingPage
	
	background-color #00495a
	background url(/img/dots.png), linear-gradient(188deg, rgba(28,111,103,1) 0%, rgba(145,181,113,1) 64%, rgba(150,69,86,1) 100%)
h1, h2, h3, h4, h5, h6
	border-bottom none

#lpCover
	position absolute
	top 0
	left 0
	right 0
	height 100vh
	overflow hidden
	//box-shadow 0 5px 4px 1px #eee
	border-bottom 5px solid $accentColor

.coverBg

	position absolute
	top 0
	left 0

	background #0f1015
	background-image url('/img/cover-bg.jpg')
	background-size cover
	background-position center
	background-repeat no-repeat

	display block
	box-sizing border-box
	min-width 100vw
	min-height 130vh


	@media (max-width $MQMobile)
		height 100vh
		min-height 100vh
		//background-size 128rem
		//background-position top right



.coverMid

	position absolute
	top 0
	left 0

	background-image url('/img/cover-mid.png')
	background-size 110vh
	background-position bottom right
	background-repeat no-repeat

	display block
	box-sizing border-box
	min-width 100vw
	min-height 100vh	


	@media (max-width $MQMobile)
		background-size 115vh
		//background-position bottom

.coverTop

	position absolute
	top 3rem
	left 0
	display flex
	justify-content center
	align-items flex-end
	box-sizing border-box
	min-width 100vw
	min-height 100vh
	color #efefef
	font-size 6rem

	filter drop-shadow(2px 4px 6px #111)


