.home
	margin-top 100vh !important
	padding-top 8rem !important
	max-width 100vw !important

.landingPage
	
	background-color #00495a
	//background url(/img/dots.png), linear-gradient(188deg, rgba(28,111,103,1) 0%, rgba(145,181,113,1) 64%, rgba(150,69,86,1) 100%)
	background-image url(/img/paper.png)
h1, h2, h3, h4, h5, h6
	border-bottom none

#lpCover
	position absolute
	top 0
	left 0
	right 0
	height 100vh
	overflow hidden
	//box-shadow 0 5px 4px 1px #eee
	border-bottom 5px solid $accentColor

.coverBg

	position absolute
	top 0
	left 0

	background #0f1015
	background-image url('/img/cover-bg.jpg')
	background-size cover
	background-position center
	background-repeat no-repeat

	display block
	box-sizing border-box
	min-width 100vw
	min-height 130vh


	@media (max-width $MQMobile)
		height 100vh
		min-height 100vh
		//background-size 128rem
		//background-position top right



.coverMid

	position absolute
	top 0
	left 0

	background-image url('/img/cover-mid.png')
	background-size 110vh
	background-position bottom right
	background-repeat no-repeat

	display block
	box-sizing border-box
	min-width 100vw
	min-height 100vh	


	@media (max-width $MQMobile)
		background-size 115vh
		//background-position bottom

.coverTop

	position absolute
	top 0
	left 0
	display flex
	justify-content center
	align-items flex-start
	margin-left 3rem
	margin-top 1rem
	box-sizing border-box
	flex-direction column
	min-width 100vw
	min-height 100vh
	text-shadow -3px -2px 0 #333, 2px -2px 0 #333, -3px 2px 0 #00495a, 2px 2px 0 #00495a, 3px 2px 7px #00495a
	//mix-blend-mode luminosity
	h1
		display block
		color #ffafcc
		font-size 8rem
		font-family $fontC
		line-height .1rem
		letter-spacing .75rem
		opacity .98
		@media (min-width 800px)
			font-size 12rem
	h2
		display block
		color #fff
		font-size 2.5rem
		font-family $fontD
		line-height .1rem
		transform rotate(-2deg)
		margin-top -4.2vw
		margin-left 4.5vw
		@media (min-width 800px)
			font-size 3rem

	filter drop-shadow(2px 4px 6px #111)


