.itemAggressionen
	background-image url('/img/dots.png'), url('/media/01/aggressionen.jpg') 
	background-size auto, cover

.itemStress
	background-image url('/img/dots.png'), url('/media/01/stress.jpg')
	background-size auto, cover