// ------------------ 01

.itemFaehigkeiten
	background-image url('/img/dots.png'), url('/media/01/faehigkeiten.jpg') 
	background-size auto, cover
	background-position center

.itemEinschraenkungen
	background-image url('/img/dots.png'), url('/media/01/einschraenkungen.jpg') 
	background-size auto, cover
	background-position center

.itemVorraussetzungen
	background-image url('/img/dots.png'), url('/media/01/vorraussetzungen.jpg') 
	background-size auto, cover
	background-position center

// ------------------ 02

.itemAggressionen
	background-image url('/img/dots.png'), url('/media/02/aggressionen.jpg') 
	background-size auto, cover

.itemStress
	background-image url('/img/dots.png'), url('/media/02/stress.jpg')
	background-size auto, cover

