// ------------------ 01

.itemFaehigkeiten
	background-image url('/img/dots.png'), url('/media/01/faehigkeiten.jpg') 
	background-size auto, cover
	background-position center

.itemEinschraenkungen
	background-image url('/img/dots.png'), url('/media/01/einschraenkungen.jpg') 
	background-size auto, cover
	background-position center

.itemVorraussetzungen
	background-image url('/img/dots.png'), url('/media/01/vorraussetzungen.jpg') 
	background-size auto, cover
	background-position center

// ------------------ 02

.itemAggressionen
	background-image url('/img/dots.png'), url('/media/02/aggressionen.jpg') 
	background-size auto, cover

.itemStress
	background-image url('/img/dots.png'), url('/media/02/stress.jpg')
	background-size auto, cover

.itemEmotionen
	background-image url('/img/dots.png'), url('/media/02/emotionen.jpg')
	background-size auto, cover

.itemSelbstbilder
	background-image url('/img/dots.png'), url('/media/02/selbstbilder.jpg')
	background-size auto, cover

.itemIdeale
	background-image url('/img/dots.png'), url('/media/02/ideale.jpg')
	background-size auto, cover

// ------------------ 03

.itemFuehrenVonKfz
	background-image url('/img/dots.png'), url('/media/03/fuehren_von_kfz.jpg') 
	background-size auto, cover

.itemVersicherung
	background-image url('/img/dots.png'), url('/media/03/versicherung.jpg')
	background-size auto, cover

.itemPapiere
	background-image url('/img/dots.png'), url('/media/03/papiere.jpg')
	background-size auto, cover

.itemInternational
	background-image url('/img/dots.png'), url('/media/03/international.jpg')
	background-size auto, cover

// ------------------ 04

.itemVerkehrswege
	background-image url('/img/dots.png'), url('/media/04/verkehrswege.jpg') 
	background-size auto, cover

.itemGefahren
	background-image url('/img/dots.png'), url('/media/04/gefahren.jpg')
	background-size auto, cover

// ------------------ 05

.itemVerhalten
	background-image url('/img/dots.png'), url('/media/05/verhalten.jpg') 
	background-size auto, cover


// ------------------ 11

.itemBeleuchtung
	background-image url('/img/dots.png'), url('/media/11/beleuchtung.jpg') 
	background-size auto, cover

// ------------------ 12

.itemUmweltschonend
	background-image url('/img/dots.png'), url('/media/12/umweltschonend.jpg') 
	background-size auto, cover