
.navbar 
	background #00495a
	border-bottom 5px solid $accentColor

.navbar .links
	background-color unset !important

.navbar .logo
	//display none
	@media (max-width $MQMobile)
		margin-left -2rem
		margin-top -.5rem

.links
	color #efefef !important
	font-weight regular
	font-style regular
	font-family $fontB
	//letter-spacing 1.5px

.site-name
	display none !important

.nav-link:hover, .nav-link:focus
	color lighten($accentColor, 20%) !important

.links a.router-link-active
	color lighten($accentColor, 20%) !important


.wikiLink
	display inline
	width 0
	height 0
	@media (max-width $MQMobile)
		width 1.8rem
		height 2rem
		margin-right .2rem
	
.search-box input:focus
	margin-left 1rem





.search-box input:focus
	@media (max-width $MQMobile)
		position fixed !important
		display flex !important
		justify-content center
		top 0
		min-width 100%
		max-width 100%
		padding 0 1rem
		margin 0
		color $accentColor
		text-align center
		height 3.4rem
		background #333

		font-size 1.5rem
		font-weight bold
		box-sizing border-box
		border 1px solid #111 !important
		z-index 1000
		border-radius unset !important	

/*

.search-box 
	input
		transition unset !important
		background-color #333 !important
		color $warning !important
		border-radius .4rem !important
		border unset !important

*/

.hideMe
	//display none

.sidebar-button
	width 1.7rem !important
	height 1.8rem !important
	padding 0 .15rem !important
	img
		width 100%
		height 100%


.logo
	transition .2s
.logo:hover
	transform rotate(7.5deg) scale(1.1)
	filter brightness(120%) drop-shadow(2px -1px 4px #555)
	transition .3s

.logo:hover, .logo:focus
	outline none